---
permalink: /cv/
test: education
---
<div class="normal-page" id="cv-page">
	<h1>
		Curriculum Vitae
	</h1>
	<div id="cv-content">
		{% for item in site.data.cv-section %}
		<section class="cv-section" id="cv-{{ item.class }}">
			<h3 class="section-title">{{ item.name }}</h3>
			<ul class="cv-list">
				{% for cv-item in site.data.cv.cv-education %}
				<li class="cv-li">
					<h4 class="cv-li-name">{{ cv-item.name }}</h4>
					<div class="cv-li-place">{{ cv-item.place }}</div>
					<div class="cv-li-date">{{ cv-item.date }}</div>
				</li>
				{% endfor %}
			</ul>
		</section>
		{% endfor %}
	</div>
</div>