/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* GENERAL CSS */
$roboto-font: "Roboto", sans-serif;
$mywhite: #fefefe;
$myblack: #101010;
$mydarkgrey: #404040;
$mygrey: #696969;
$mylightgrey: darken($mywhite, 3);
$mybgcolor: #fffce0; //#FCF8ED;
$myaltcolor: #f9d0a7;
$myhl: #af3d21;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background-color: $mybgcolor;
}

body {
  @include box_sizing;
  font-family: $roboto-font;
  line-height: 1.4;
  padding: 30px;
  color: $mydarkgrey;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1 {
  font-size: 3em;
  margin-bottom: 15px;
  font-weight: 100;
}
h2 {
  font-size: 2em;
  margin-bottom: 25px;
  font-weight: 700;
}
h3 {
  font-size: 1.4em;
  letter-spacing: -1px;
  margin-bottom: 5px;
  font-weight: 700;
}
h4 {
  font-size: 1.2em;
  letter-spacing: -1px;
}
h5 {
  font-size: 0.9em;
  margin-bottom: 5px;
}

p {
  margin-bottom: 0.5em;
}
a {
  color: $mydarkgrey;
  text-decoration: none;
}

.normal-page {
  padding: 20px;
}

#whole-wrapper {
  max-width: 780px;
  box-sizing: inherit;
  margin: auto;
  background-color: $mywhite;
}
.content-wrapper {
  box-sizing: inherit;
}

.content-nav {
  li {
    display: inline-block;
    padding: 5px 7px;
  }
  a {
    color: $mygrey;
  }
  a:hover {
    color: $myblack;
  }
}

a.external-link {
  color: $myhl;
}
a:hover.external-link {
  color: darken($myhl, 20%);
}

a.inner-link {
  font-weight: bolder;
}
a.inner-link:hover {
  text-decoration: underline;
}

/* HEADER CSS */
#header-nav {
  float: right;
}
#header-nav a {
  font-size: 1.3em;
}
#header-nav a:last-of-type {
  padding-right: 0px;
}

#site-header {
  overflow: hidden;
  width: 100%px;
  background-color: $mybgcolor;
  padding: 0px 20px 0px 5px;
}
#name-wrapper {
  float: left;
  height: 100%;
  padding: 5px;
}

#myname {
  margin: auto auto;
  font-weight: 100;
  font-size: 2.2em;
}

/* FOOTER CSS */
#site-footer {
  @include box_sizing;
  width: 100%;
  font-size: 0.8em;
  padding: 2em;
  text-align: center;
  background-color: $mybgcolor;
  color: $mygrey;
}

#footer-nav {
  display: inline-block;
  margin: 0 auto;
}

.footer-separator {
  margin: 0 auto;
  width: 40%;
  border-bottom: 1px solid $mygrey;
}

.hosting-info {
  display: inline-block;
  margin: 3px;
}

/* HOME PAGE */
$home-section-per: 60%;
#home-page {
  position: relative;
}
#home-aside {
  @include box_sizing;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: $myaltcolor;
  height: 100%;
  width: 100% - $home-section-per;
  padding: 15px;
  font-weight: 300;
}

#home-aside-picture {
  @include box_sizing;
  width: 100%;
}

#home-section {
  @include box_sizing;
  width: $home-section-per;
  padding-right: 20px;
}

/* ABOUT PAGE */
$color1: $myaltcolor;
/* Triangles */
.ss-style-triangles::after {
  left: 50%;
  width: 100px;
  height: 100px;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}
.ss-style-triangles::after {
  bottom: -50px;
  z-index: 10;
  background: inherit;
}

#about-page {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  box-sizing: inherit;

  section::before,
  section::after {
    position: absolute;
    content: "";
    pointer-events: none;
  }
}
#about-title {
  position: relative;
  padding: 5em 0em;
  background: $color1;
  text-align: center;
}
#about-content {
  flex: 1 1 auto;
  padding: 80px 50px 20px;
  background: $mywhite;
}

.about-external-link {
  font-weight: 500;
}
.about-external-link:hover {
  text-decoration: underline;
}

/* BLOG PAGE */
#blog-page {
  h5 {
    margin-top: -5px;
    margin-bottom: 15px;
  }
}
.blog-author {
  font-weight: 700;
}
.read-more {
  text-decoration: underline;
  text-emphasis: italic;
  color: $myhl;
}
.read-more:hover {
  color: darken($myhl, 15%);
}
.blog-list {
  a:hover {
    text-decoration: underline;
  }
  li {
    margin-bottom: 30px;
  }
}

/* CV PAGE */
#cv-content {
  display: flex;
  flex-wrap: wrap;
}
.cv-section {
  flex: 1 1 auto;
  padding: 1em 1em 1em 0px;
  height: 100%;
}
.cv-li {
  padding: 0.5em 0px;
}
.cv-li > * {
  padding-left: 5px;
}
.cv-li-name {
  border-left: 15px solid $myaltcolor;
}
.cv-li-place,
.cv-li-date {
  color: $mygrey;
  margin-left: 15px;
}
.cv-li-date {
  font-style: italic;
}

.cv-sublist {
  margin-left: 15px;
}
