---
title: Blog
---
<div id="blog-page" class="normal-page">
	<aside id="blog-aside">

	</aside>
	<h1>Blog posts</h1>

	<ul class="blog-list">
		{% for post in paginator.posts %}
		<li>
			<h3><a href="{{ site.baseurl }}{{ post.url }}">
					{{ post.title }}
				</a></h3>
			<h5>
				By <a href="{{ site.baseurl }}/about/" class="blog-author">{{ site.myname }}</a>
				/ {{ post.date | date_to_string }}
			</h5>
			{{ post.excerpt }}
			<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read more &raquo;</a>
		</li>
		{% endfor %}

		<div class="pagination">
			{% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path }}" class="previous">&laquo; Previous</a>
			{% endif %}

			{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path }}" class="next">Next &raquo;</a>
			{% endif %}
		</div>
	</ul>
</div>